teleios:
  logging:
    level: debug
  graphics:
    vsync: false
    wireframe: false
  simulation:
    step: 20
  renderer:
    modelMatrix: un_model
    viewProjectionMatrix: un_viewProjection
  window:
    size: SD
    title: LearnOpenGL
application:
  scene:
    - name: main
      script:
        load: scripts/main/load.lua
#        unload: scripts/main/unload.lua
        frame_begin: scripts/main/frame_begin.lua
        frame_end: scripts/main/frame_end.lua
      graphics:
        clear_color: .7, .2, .7, 1
        depth:
          enabled: true
          function: LEQUAL

        blend:
          enabled: true
          equation: FUNC_REVERSE_SUBTRACT
          function:
            source: SRC_ALPHA
            target: ONE_MINUS_SRC_ALPHA
      camera:
        property:
          - name: "depth"
            value: "-1.0, 1.0"
          - name: "rectangle"
            value: "-21.0, 21.0, -21.0, 21.0"