[submodule "engine/libs/cglm"]
	path = engine/libs/cglm
	url = https://github.com/recp/cglm.git
[submodule "engine/libs/glfw"]
	path = engine/libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/libs/libyaml"]
	path = engine/libs/libyaml
	url = https://github.com/yaml/libyaml
[submodule "engine/libs/liblua"]
	path = engine/libs/liblua
	url = https://github.com/bkaraujo/Lua
[submodule "engine/libs/libk"]
	path = engine/libs/libk
	url = git@github.com:bkaraujo/libk.git
